# --- Python (Django) ---
/__pycache__/
/*.py[cod]
/*.pyo
/*.pyd
/*.pdb
/*/__pycache__/*.pyc
/*.so
/*.egg-info/
/*.egg
/.env
/env/
/venv/
/.env.*
/db.sqlite3
/media/
/staticfiles/
*.pyc


# --- IDE / Editor ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*/.env
